.weather-block{
    margin: 20px;
    min-width: 10%;
    min-height: 200px;
    background-image: linear-gradient(to bottom right, #39d,#9df);
    border-radius: 40px;
    color: white;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: -18px 20px 34px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: -18px 20px 34px 0px rgba(0,0,0,0.69);
    box-shadow: -8px 0px 14px 0px rgba(0,0,0,0.69);
    .temperature {
        font-weight: 600;
        margin: 20px;
    }
    .count {
        font-size: 30px;
    }
    .date {
        color: black;
        background: white;
        text-align: center;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        font-size: 18px;
        p {
            margin: 5px;
        }
    }
}