.main-page{
    text-align: center;
    margin-top: 100px;
    .location-header{
        font-size: 40px;
    }
    .weathers{
        display: flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
          }
    }
}