.navigation{
    background: #3e3e3e;
    display: flex;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #6be;
        }
        p{
            font-size: 20px;
            margin: 10px;
        }
    }
    .settings-icon {
        font-size: 24px;
        margin: 10px;
    }
}